* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  font-family: tahoma, sans-serif;
}
#wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 1em;
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#projectname {
  border-bottom: 1px solid #017CC2;
  margin-bottom: 2em;
}
#projectname h1 {
  text-align: center;
  color: #017CC2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4em;
}

#input-area textarea {
  width: 100%;
  padding: 5px 7px;
  resize: vertical;
  font-family: tahoma;
  margin-top: 0.5em;
  border: 1px solid #ddd;
}

#suggestions .sug {
  display: block;
  float: left;
  width: calc(100% / 3 - 3px);
  margin: 0 2px;
  text-align: center;
  padding: 5px 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.25s ease 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#suggestions .sug.first {
  margin-left: 0;
}
#suggestions .sug.last {
  margin-right: 0;
}

#suggestions .sug:hover {
  background-color: #f5f5f5;
  box-shadow: 0 0 3px 0 #ddd inset;
}

footer .copyright {
  direction: ltr;
  text-align: center;
  font-family: verdana;
  font-size: 0.7em;
  border-top: 1px solid #e5e5e5;
  color: #333;
  padding-top: 0.5em;
  margin-top: 3em;
}
footer .copyright a,
footer .copyright a:hover,
footer .copyright a:focus,
footer .copyright a:visited {
  color: #6D42B3;
  text-decoration: none;
}
footer .copyright a:hover {
  text-decoration: underline;
}
